body{
    margin: 100px;
    text-align: center;
    grid-area: auto;
    background-image: url("bg3.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    }



    input[type=text],[type=number],input[type=email],input[type=date],input[type = submit],select{
    width: 80%;
    margin : 10px;
    padding : 7px;
    display: inline-block;
    border:1px solid white;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: left;  

}




div {
    margin: auto;
    text-align:inherit;
    padding: 20px;
    margin-right: 50px;
    height: 400px;
    width: 800px;
    
   }
